<% include ../partials/header.ejs %>
<div class="container">
<center>
<h1>Edit Campground <%= campground.name %></h1>
</center>
<br>
<form method="POST" action="/campgrounds/<%= campground._id %>?_method=PUT" style="margin-left: 35%;">
        <div class="form-group">
          <label for="name">Campground Name</label>
          <input style="width: 40%;" type="text" class="form-control" id="name" placeholder="Enter Campground Name" name="cg[title]" value="<%= campground.title %>">
        </div>
        <div class="form-group">
          <label for="imgurl">Image URL</label>
          <input type="text" style="width: 40%;" id="imgurl" class="form-control" placeholder="Image URL" name="cg[image]" value="<%= campground.image %>">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input style="width: 40%;" type="text" class="form-control" id="desc" placeholder="Description..." name="cg[desc]" value="<%= campground.desc %>">
        </div>
        <button style="width:40%;" type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <a href="/campgrounds" style="padding: 5px;">Go Back</a>
</form>
<br>


</div>
<% include ../partials/footer.ejs %>